# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.moon/cache

# The `outDir` for declarations
lib/
# Build cache manifests
*.tsbuildinfo
.moon/cache/** 
.cache
**/.cache